$bg-primary: #1b1b1b;
$bg-secondary: #111812;
$bg-gradient: radial-gradient(
	circle farthest-corner at -1% 37.5%,
	#61685d 0%,
	#252222 90%
);
$main-color: #307e15;
$secondary-color: #f2f5f0;
$light-color: #ffffff;
$dark-color: #202020;
$opaque: rgba(255, 255, 255, 0.014);
$opaque2: rgba(0, 0, 0, 0.22);
$white: #ffffff;
$darker: #333;
$gold:#1b1b1b