$bg-primary: #1b1b1b;
$bg-secondary: #2f3130;
$bg-gradient: radial-gradient(
	circle farthest-corner at -1% 37.5%,
	#61685d 0%,
	#252222 90%
);
$main-color: #b9b7b7;
$secondary-color: #646464;
$light-color: #ffffff;
$dark-color: #202020;
$opaque: rgba(255, 255, 255, 0.014);
$opaque2: rgba(0, 0, 0, 0.22);
