@use './colors' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-margin-top: 80px;
	overflow-x: hidden;
}
body {
	height: 100%;

	background-color: $bg-primary;

	background-size: 70%;
	background-position: center;
	font-family: 'Montserrat', sans-serif;
	color: $light-color;
	font-size: 1.6rem;
	font-weight: 400;
	overflow-x: hidden;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	background-color: $bg-secondary;
	background-position: center;
	background-size: 80%;
	box-shadow: 0px 3px 15px black;
}
.line {
	position: relative;
	margin: 1em auto;
	margin-bottom: 5em;
	width: 80%;
	max-width: 900px;
	height: 1px;
	background-color: $light-color;
}

.section {
	min-height: 100vh;
	padding: 2em 0;
}
.section-title {
	margin: 2em 0 2.5em;
	padding: 0.5em;
	text-align: center;
	text-decoration: 1px overline $main-color;
	color: $secondary-color;
	font-size: 2.4rem;
	background-color: $opaque2;

	font-weight: 500;
	font-family: 'Montserrat';
	letter-spacing: 0.2em;
	line-height: 2em;
	text-transform: uppercase;
}
h1 {
	position: absolute;
	top: 51%;
	margin: 0 2em 6em;
	padding: 0.5em;
	color: #fff;
	background-color: #ffffff63;
	border-radius: 8px;
	font-size: 4rem;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	span {
		color: $main-color;
		font-weight: 500;
	}
}

// NAV //
.hamburger {
	position: fixed;
	top: 65px;
	right: 1em;
	transform: translateY(-50%);
	z-index: 500;
	background-color: #ffffff73;
	border-radius: 25%;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.233);
	&-inner,
	&-inner::before,
	&-inner::after {
		background-color: $dark-color;
		z-index: 500;
	}
}
.nav {
	&-mobile {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: $dark-color;
		transform: translateX(-102%);
		transition: transform 0.3s;
		z-index: 5;
		&--active {
			transform: translateX(0);
		}
	}
	&-desktop {
		display: none;
		position: fixed;
		top: 0;
		margin: 0 auto;
		width: 100%;
		height: 70px;
		justify-content: space-between;
		align-items: center;
		background-color: black;
		z-index: 2;
		transition: transform 0.3s ease;
	}

	&__link {
		position: relative;
		display: inline-block;
		margin: 1em 2em;
		padding: 0.5em;
		color: $light-color;
		font-size: 1.6rem;
		font-weight: 300;
		text-wrap: nowrap;
		text-decoration: none;
		transition: color 0.3s;
		&:hover {
			color: $main-color;
		}
		&:nth-child(5) {
			background-color: $light-color;
			border-radius: 20px;
			color: $dark-color;
			font-weight: 400;
			border: 2px solid transparent;
			padding: 0.5em 2em;
			transition: scale 0.3s;

			&:hover,
			&:focus {
				border: 2px solid $main-color;
				color: $main-color;
			}
		}
		&:nth-child(6) {
			margin-right: 3em;
		}
	}
	&__text {
		text-transform: uppercase;
		margin: 0 3em;
		font-size: 1.8rem;
		color: $light-color;
		text-wrap: nowrap;
	}
}
.hidden {
	transform: translateY(-100%);
}

// HEADER//
.header {
	position: relative;
	display: flex;
	height: 100vh;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	text-align: center;
	color: $light-color;
	background-image: url('https://cdn.pixabay.com/photo/2018/05/29/06/25/woods-3438052_1280.jpg');
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;

	&__shadow {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: linear-gradient(
			0deg,
			rgba(18, 36, 0, 1) 0%,
			rgba(21, 121, 9, 1) 35%,
			rgba(168, 255, 0, 1) 100%
		);
		opacity: 0.6;
	}
	.box {
		position: absolute;
		top: 25px;
		height: 80px;
		width: 100%;
		background-color: #ffffffb6;
	}
	.logo {
		position: absolute;
		height: 100px;
		padding: 0.5em;
		top: 17px;
		left: 5px;
		background-color: #e5eed0;
		border-radius: 50%;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
	}
	.company-name {
		position: absolute;
		top: 40%;
		font-family: 'Six Caps', sans-serif;
		font-size: 6rem;
		letter-spacing: 7px;
		font-weight: 300;
		text-align: center;
	}
	.media {
		position: absolute;
		right: 0.5em;
		top: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;

		height: 40%;
		width: 100px;
		font-size: 3.6rem;
		z-index: 1;
		a {
			margin: 0.5em;
			i {
				padding: 0.5em;
				color: $light-color;
				transition: color 0.3s, transform 0.3s;
				border-radius: 5px;
			}
		}
		a:hover {
			i {
				color: $main-color;

				transform: scale(1.2);
			}
		}
	}

	.fade {
		position: absolute;
		bottom: 0;
		height: 100px;
		width: 100%;
		background: linear-gradient(
			0deg,
			#1b1b1b 0%,
			#1b1b1b94 50%,
			rgba(255, 255, 255, 0) 100%
		);
	}
}

// ABOUT US //

.aboutus {
	margin-top: 6em;
	background-color: $bg-secondary;
	p {
		padding: 0 2em;

		color: $secondary-color;
		font-size: 1.6rem;
		font-weight: 200;
		letter-spacing: 0.5px;
		text-align: center;

		// line-height: 1em;
	}
	.text-one {
		text-align: left;
	}
	.text-two {
		text-align: right;
	}
	.text-title {
		padding: 1em;
		color: $main-color;
		font-family: 'Montserrat', sans-serif;
		letter-spacing: 0.1em;
		font-size: 1.6rem;
		font-weight: 500;
	}
	.two {
		text-align: right;
	}
	img {
		position: relative;
		margin: 2em 0;
		height: 200px;
		max-width: 70vw;
		object-fit: cover;
		box-shadow: 1px 1px 25px #000000d7;
	}
	.img-one,
	.img-three {
		border-top-right-radius: 100px;
		border-bottom-right-radius: 100px;
		transform: translateX(-5%);
	}
	.img-two {
		border-top-left-radius: 100px;
		border-bottom-left-radius: 100px;
		transform: translateX(45%);
	}
	.line {
		margin-top: 3em;
		margin-bottom: 2em;
	}
}

// USŁUGI ///
.services {
	background-color: $bg-primary;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	h3 {
		padding: 1.5em;
		text-align: center;
		font-weight: 300;
		color: $secondary-color;
	}
	a {
		padding: 0.5em;
		font-size: 1.6rem;
		text-align: center;
		text-decoration: none;
		color: $main-color;
	}

	.hexagons {
		display: none;
		.hexagon-box {
			display: flex;
			width: 100%;
			justify-content: center;
			gap: 15px;

			.hexagon {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 400px;
				aspect-ratio: cos(30deg);
				clip-path: polygon(-50% 50%, 50% 100%, 150% 50%, 50% 0);

				background-size: cover;
				background-position: center;
				filter: grayscale(40%);

				transition: filter 0.3s, scale 0.3s;

				&__title {
					padding: 1em;
					color: $light-color;
					text-align: center;
					font-size: 2.4rem;
					letter-spacing: 3px;
					text-transform: uppercase;
					background-color: #00000071;
				}
			}
			.hexagon:hover {
				scale: 1.1;
				z-index: 6;
				filter: grayscale(70%);
			}
			.one {
				background-image: url('../../dist/img/serv1.jpg');
			}
			.two {
				background-image: url('../../dist/img/serv2.jpg');
			}
			.three {
				background-image: url('../../dist/img/serv3.jpg');
			}
			.four {
				background-image: url('../../dist/img/serv4.jpg');
			}
			.five {
				background-image: url('../../dist/img/serv5.jpg');
			}
			.six {
				background-image: url('../../dist/img/serv6.jpg');
			}
		}
	}

	.hexagon-box:nth-child(2) {
		transform: translateY(calc(15px - 25%));
	}
	.hexagon-box:nth-child(3) {
		transform: translateY(calc(15px - 46%));
	}
	.boxes {
		display: flex;
		flex-wrap: wrap;
		position: relative;
		justify-content: center;
		align-items: center;
		color: $dark-color;

		.shadow {
			position: absolute;
			top: 0;
			left: 0;
			background-color: #5ca31a21;
			width: 100%;
			height: 100%;
			z-index: -1;
		}
		.box {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			margin: 0 0.3em;
			width: 130px;
			height: 130px;
			border-radius: 6px;
			background-position: center;
			background-size: cover;
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.747);
			z-index: 1;

			&:nth-child(1) {
				background-image: url('../../dist/img/serv1.jpg');
			}
			&:nth-child(2) {
				box-shadow: none;
			}
			&:nth-child(3) {
				box-shadow: none;
			}
			&:nth-child(4) {
				background-image: url('../../dist/img/serv2.jpg');
			}
			&:nth-child(5) {
				background-image: url('../../dist/img/serv3.jpg');
			}
			&:nth-child(6) {
				box-shadow: none;
			}
			&:nth-child(7) {
				box-shadow: none;
			}
			&:nth-child(8) {
				background-image: url('../../dist/img/serv4.jpg');
			}
			&:nth-child(9) {
				background-image: url('../../dist/img/serv5.jpg');
			}
			&:nth-child(10) {
				box-shadow: none;
			}
			&:nth-child(11) {
				box-shadow: none;
			}
			&:nth-child(12) {
				background-image: url('../../dist/img/serv6.jpg');
			}
			p {
				width: 100%;
				margin: 1em 0;
				padding: 0.5em 0.5em;
				color: white;
				font-size: 1.2rem;
				font-weight: 500;
				text-transform: uppercase;
				text-align: center;
				text-decoration: overline black;
				line-height: 1.5em;
				letter-spacing: 2px;
				z-index: 2;
			}
		}
	}
}
// OPINIE ///

.reviews {
	background-color: $bg-secondary;
	&__box {
		position: relative;
		height: 200px;
		margin: 2em;
		padding: 2em;
		padding-bottom: 2em;
		background-color: $main-color;
		color: $light-color;
		border-radius: 3px;
		box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.52);
		transition: transform 0.3s;
		&:hover {
			transform: scale(0.95);
		}
	}
	&__box-img {
		position: absolute;
		top: 12%;
		left: 75%;
		transform: translate(-50%, -50%);
		img {
			width: 100px;
			height: 100px;
			object-fit: cover;
			border-radius: 50%;
			box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.52);
		}
	}
	&__box-quote {
		margin-bottom: 0.5em;
		font-size: 3rem;
		color: $secondary-color;
	}
	// FAQ //

	.faq {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 500px;
		margin: 5em 0;
		font-size: 1.4rem;
		.line {
			margin-bottom: 2em;
		}
		&__title {
			padding: 1em;
			margin: 1em;
			font-size: 2.2rem;
		}
		&__boxes {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			max-width: 800px;
			&__info-text {
				padding: 0.5em;
				font-size: 1.4rem;
			}
			.fas {
				position: absolute;
				top: 50%;
				left: 0;
				margin-left: 0.5em;
				transform: translateY(-50%);

				color: $secondary-color;
				font-size: 2rem;
			}
		}
		&__box {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 20px;
		}
		&__btn {
			position: relative;
			padding: 1em 1em 1em 3em;

			width: 90%;
			color: $light-color;
			background-color: $main-color;
			border: none;
			border-radius: 5px;
			text-transform: uppercase;
			text-align: left;
			font-family: 'Montserrat', sans-serif;
			font-size: 1.2rem;
			font-weight: 400;
			letter-spacing: 1px;
			transition: background-color 0.3s;
			cursor: pointer;
			p {
				padding: 0.5em 2em;
				text-align: center;
				z-index: -2;
			}
			&:hover,
			&:focus {
				background-color: $bg-secondary;
				color: $light-color;
				outline: none;
			}
		}
		&__info {
			display: none;
			padding: 1em 2em;
		}
	}
	.active {
		display: block;
	}
}

// KONTAKT ///

.contact {
	position: relative;
	margin-bottom: 0;
	background-image: url('../../dist/img/grassbg.jpg');
	background-size: cover;
	background-position: center;
	.section-title {
		margin-top: 5em;
		background-color: rgba(255, 255, 255, 0.233);
		color: black;
	}
	.line {
		margin: 10em auto 0;
	}

	.wrapper {
		max-width: 1000px;

		padding: 3em;
		background-color: rgba(255, 255, 255, 0.116);
	}

	&__form,
	&__form-top {
		display: flex;
		flex-direction: column;
	}
	&__form-label {
		margin-bottom: 0.5em;
		font-size: 1.4rem;
		text-transform: uppercase;
	}
	&__form-input {
		margin-bottom: 2em;
		padding: 0.6em 1.2em;
		background-color: $light-color;
		border: none;
		border-radius: 3px;
		font-size: 1.6rem;
		outline: none;
		&:focus {
			outline: 3px solid $main-color;
		}
	}
	&__form-textarea {
		margin-bottom: 2em;
		padding: 0.6em 1.2em;
		border: none;
		border-radius: 3px;
		background-color: $light-color;
		font-size: 1.4rem;
		max-width: 100%;
		width: 100%;
		min-height: 150px;
		outline: none;
		&:focus {
			outline: 3px solid $main-color;
		}
	}
	&__form-btn {
		align-self: center;
		padding: 1em;
		width: 100%;
		max-width: 300px;
		color: $bg-primary;
		border: none;
		border-radius: 3px;
		background-color: $light-color;
		font-family: 'Montserrat', sans-serif;
		font-size: 1.4rem;
		font-weight: 600;

		letter-spacing: 3px;
		transition: 0.3s;
		cursor: pointer;
		&:hover {
			color: $bg-primary;
			background-color: $main-color;

			scale: 0.95;
		}
	}
	&__info {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: flex-start;
		margin: 0.5em;
		padding: 0.5em;
		font-size: 1.4rem;

		.box {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: auto;
			margin-left: 1em;
			&__title {
				margin: 1em;
				padding: 1em;
				font-size: 2rem;
				text-align: center;
				white-space: nowrap;
			}
			a {
				padding: 1em;
				font-size: 1.4rem;
				text-decoration: none;
				color: $light-color;
				transition: color 0.3s;
				cursor: pointer;

				&:hover {
					color: $main-color;
				}
			}
			.faded {
				color: rgba(165, 161, 144, 0.623);
				cursor: default;
				&:hover {
					color: rgba(165, 161, 144, 0.623);
				}
			}
			i {
				margin-right: 0.5em;
				font-size: 3rem;
			}
			.info {
				padding: 1em;
				font-size: 1.4rem;
			}
		}
	}
}
.contact::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 70px; /* wysokość rozmycia */
	background: linear-gradient(
		0deg,
		$opaque 0%,
		$bg-secondary 55%,
		$bg-secondary 100%
	);

	z-index: 1;
}

// FOOTER //

.footer {
	display: flex;

	justify-content: center;
	align-items: center;
	height: 100px;
	background-color: $bg-secondary;
	font-weight: 300;

	&__logo {
		position: relative;

		max-height: 90px;
		object-fit: contain;
		cursor: pointer;
	}
	&__bottom-text {
		position: relative;
	}
}

// ANIMACJE //

@keyframes show-bg {
	to {
		background-color: rgba(0, 0, 0, 0.4);
	}
}

@keyframes show-text {
	to {
		opacity: 1;
	}
}
/* Stylizacja responsywna */

@media (width <= 424px) {
	h1 {
		font-size: 1.6rem;
	}

	.section {
		width: 100%;
	}
	.wrapper {
		width: 100%;
	}
}
@media (425px <= width) {
	.section {
		width: 100%;
	}
	.wrapper {
		width: 100%;
	}
	.services {
		.boxes {
			.box {
				height: 200px;
				width: 200px;
			}
		}
	}
	.reviews {
		padding: 6em 0;
	}
	.header {
		width: 100%;
		&__text {
			margin: 0 auto;
			font-size: 3.2rem;
		}
		&__box {
			top: 5em;
			height: 300px;
			width: 100%;
			&--logo {
				width: 200px;
			}
			&--heading {
				font-size: 3rem;
				font-weight: 200;
			}
			.one {
				margin-left: 1em;
			}
			.two {
				margin-right: 1em;
			}
		}
	}

	h1 {
		font-size: 2rem;
	}
}
@media (768px <= width) {
	.header {
		&__text {
			margin: 0 auto;
			font-size: 3rem;
		}
		.box {
			display: none;
		}
		.logo {
			display: none;
		}
	}
	.nav {
		display: flex;
		img {
			margin-left: 0.6em;
			height: 50px;
			width: 50px;
			background-color: #fff;
			border-radius: 50%;
		}
		p {
			margin-left: 0.5em;
		}
		&__link {
			margin: 0;
		}
		.tel {
			display: none;
		}
	}
	.aboutus {
		img {
			position: relative;
			height: 300px;
			width: 600px;
		}
		.img-one,
		.img-three {
			border-top-right-radius: 150px;
			border-bottom-right-radius: 150px;
		}
		.img-two {
			border-top-left-radius: 150px;
			border-bottom-left-radius: 150px;

			transform: translateX(45%);
			// transform: translateX(50%);
		}
		.text-title {
			padding-top: 1em;
			font-size: 2rem;
		}
		p {
			display: block;
			padding: 2em;
			font-size: 1.6rem;
			font-weight: 300;
			line-height: 1.5em;
			letter-spacing: 1px;
		}
	}
	.contact {
		&__info {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: flex-start;
			margin: 0.5em;
			padding: 0.5em;
		}
		.adress {
			margin: 0;
		}
	}
	.services {
		.boxes {
			.box {
				height: 250px;
				width: 250px;
				p {
					font-size: 2rem;
				}
			}
		}
	}
	.reviews {
		.faq {
			&__btn {
				width: 600px;
				height: 75px;
				font-size: 1.4rem;
			}
			&__info {
				width: 600px;
			}
		}
	}
}
@media (1024px <= width) {
	.header {
		h1 {
			margin-top: 3em;
			font-size: 2.2rem;
		}
		.company-name {
			font-size: 10rem;
		}
		.box {
			display: none;
		}
		img {
			display: none;
		}
	}
	.services {
		.hexagons {
			margin-top: 6em;
			scale: 0.9;
			display: block;
		}
		.boxes {
			display: none;
		}
	}
}

@media (width >= 1440px) {
	.hexagons {
		scale: 1;
		display: block;
	}
	.nav {
		&-desktop {
			justify-content: center;
			height: 100px;
		}
		&__link {
			font-size: 2rem;
			margin: 2em;
		}
	}
	.aboutus {
		img {
			height: 300px;
		}

		.img-one,
		.img-three {
			border-top-right-radius: 150px;
			border-bottom-right-radius: 150px;
			transform: translateX(0);
		}
		.img-two {
			border-top-left-radius: 150px;
			border-bottom-left-radius: 150px;
			right: -100%;
			transform: translateX(-100%);
			// transform: translateX(50%);
		}
		p {
			max-width: 55%;
		}
		.text-two {
			position: relative;
			left: 100%;
			transform: translateX(-100%);
		}
	}
}
